<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Hello World</title>
    </head>
    <body ng-app="demoApp" ng-init="testFunction()" ng-controller="mainController">
       <div class="app">
           <h1>
           <input type="text" ng-model="name"><br><br>
           hello {{name}}
           </h1>

          <div ng-repeat="friend in friends">
            <ul>
              <li>{{friend}}</li>
            </ul>
          </div>
          <div ng-repeat="user in users">
            <h3>{{user.name}}</h3>
            <ul>
              <li>Email: {{user.email}}
              </li>
              <li>Phone: {{user.phone}}</li>
            </ul>
          </div>
       </div>
      <script type="text/javascript" src="cordova.js"></script>
      <script type="text/javascript" src="angular.min.js"></script>
      <script type="text/javascript" src="js/index.js"></script>
      <script>
        var demoApp = angular.module("demoApp", []);

        demoApp.controller("mainController",
          // this function can take as few or as many arguments as you want
          function($scope, userService) {
            $scope.name = " ";
            $scope.friends = ["Courtney", "Breezy", "Clara", "Kaytlyn"];

            $scope.testFunction = function() {
              userService.doSomething().then(
                  function(success) {
                    console.log("Got data");
                    console.log(success.data);
                    $scope.users = success.data;
                  },
                  function(failure) {
                    console.log("Didn't get data");
                  }
              );
            };
          }
        );

        demoApp.service("userService",
            function($http) {
              // $http has to return an object!
              return {
                doSomething: function() {
                  return $http.get("http://jsonplaceholder.typicode.com/users");
                }
              };
            }
          );
      </script>
    </body>
</html>
